body {
  margin: 0;
  background-color: #525659;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.Page input,
.Page button {
  font: inherit;
}

.Page header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Page header h1 {
  font-size: inherit;
  margin: 0;
}

.Page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.Page__container__load {
  margin-top: 1em;
  color: white;
}

.Page__container__document {
  margin: 1em 0;
}

.Page__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Page__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}

.Page__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}

.Page__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.Page-navigator {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}